## Series Methods

* Sorting Series values in ascending and descending order
* Retrieving the largest and smallest values in a Series
* Counting occurrences of unique values in a Series
* Invoking a function with every value in a Series

In [2]:
# load data
# by default read_* will store data into dataframe and not series.
# but we need series!

In [3]:
# using 'squeeze'parameter we force dataframe into a series

In [4]:
%config IPCompleter.greedy=True

In [7]:
# load dataset into a series
import pandas as pd
import numpy as np
pd.read_csv('data/pokemon.csv', index_col="Pokemon", squeeze=True)

<ipython-input-7-2abf8fd463ef>:4: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('data/pokemon.csv', index_col="Pokemon", squeeze=True)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [8]:
# assign to a variable
pokemon = pd.read_csv('data/pokemon.csv', index_col="Pokemon", squeeze=True)

<ipython-input-8-33f949078505>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokemon = pd.read_csv('data/pokemon.csv', index_col="Pokemon", squeeze=True)

In [11]:
# google dataset

pd.read_csv('data/google_stocks.csv')

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

This is stored as string but it should have storedd as date time column.

In [12]:
pd.read_csv('data/google_stocks.csv', parse_dates=["Date"])
# this is dataframe

           Date    Close
0    2004-08-19    49.98
1    2004-08-20    53.95
2    2004-08-23    54.50
3    2004-08-24    52.24
4    2004-08-25    52.80
...         ...      ...
3819 2019-10-21  1246.15
3820 2019-10-22  1242.80
3821 2019-10-23  1259.13
3822 2019-10-24  1260.99
3823 2019-10-25  1265.13

[3824 rows x 2 columns]

In [13]:
pd.read_csv('data/google_stocks.csv', index_col ="Date" , parse_dates=["Date"], squeeze=True)
# this is a series

<ipython-input-13-87077c6b1187>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('data/google_stocks.csv', index_col ="Date" , parse_dates=["Date"], squeeze=True)

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [14]:
google = pd.read_csv('data/google_stocks.csv', index_col ="Date" , parse_dates=["Date"], squeeze=True)

<ipython-input-14-f767ce9785ac>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv('data/google_stocks.csv', index_col ="Date" , parse_dates=["Date"], squeeze=True)

In [15]:
# one more dataset
pd.read_csv('data/revolutionary_war.csv')

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

NAN values are present

In [16]:
pd.read_csv("data/revolutionary_war.csv",
             index_col = "Start Date",
             parse_dates = ["Start Date"],
         ).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

### The squeeze parameter by itself is insufficient in this scenario; pandas will ignore the parameter if there is more than one column of data.

In [17]:
pd.read_csv(
             "data/revolutionary_war.csv",
             index_col = "Start Date",
             parse_dates = ["Start Date"],
             usecols = ["State", "Start Date"], # when there are multiple columns yet you want a series object!
             squeeze = True
         ).tail()

<ipython-input-17-125d2f34c708>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv(

Start Date
1782-09-11    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
1783-01-22    Virginia
Name: State, dtype: object

In [18]:
battles = pd.read_csv(
             "data/revolutionary_war.csv",
             index_col = "Start Date",
             parse_dates = ["Start Date"],
             usecols = ["State", "Start Date"], # when there are multiple columns yet you want a series object!
             squeeze = True
         ).tail()

<ipython-input-18-065f9ecec97e>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  battles = pd.read_csv(

### 1. Sorting a Series

In [19]:
# using sort_values()

google.sort_values()
# prints in ascending order

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [20]:
pokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [21]:
# by default pandas places NAN values in the end
battles.sort_values()

Start Date
1782-09-11    Virginia
1783-01-22    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
Name: State, dtype: object

In [23]:
# dropping NAN values with the battles series

battles.dropna().sort_values()

Start Date
1782-09-11    Virginia
1783-01-22    Virginia
Name: State, dtype: object

In [24]:
battles.sort_values()

Start Date
1782-09-11    Virginia
1783-01-22    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
Name: State, dtype: object

In [25]:

battles.dropna().sort_values()

Start Date
1782-09-11    Virginia
1783-01-22    Virginia
Name: State, dtype: object

In [26]:
# Sort Index parameter

In [27]:
pokemon.sort_index()

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [28]:
battles.sort_index()
# When sorting a collection of datetimes in ascending order, pandas sorts from the earliest date to the latest

Start Date
1782-09-11    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
1783-01-22    Virginia
Name: State, dtype: object

###  Retrieving the smallest and largest values with the nsmallest and nlargest methods

In [30]:
# 10 dates on which google performed best

In [31]:
google.sort_values(ascending=False).head(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [32]:
# this can be relaced with nlargest
google.nlargest()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [33]:
google.nsmallest(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [34]:
# value counts method

In [35]:
pokemon.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: Type, Length: 159, dtype: int64

In [36]:
# to check what is the weightage or frequency of particlur class of variable/type
# use normalize=True

In [39]:
pokemon.value_counts(normalize=True)*100

# means 8%  of count belongs to Normal
# 7.5% belongs to Water

Normal                8.034611
Water                 7.540173
Grass                 4.697157
Psychic               4.326329
Fire                  3.708282
                        ...
Fire / Psychic        0.123609
Normal / Ground       0.123609
Psychic / Fighting    0.123609
Dark / Ghost          0.123609
Fire / Ghost          0.123609
Name: Type, Length: 159, dtype: float64

In [42]:
print("Weightage in percentage for each pokemon type is:\n", pokemon.value_counts(normalize=True)*100)

Weightage in percentage for each pokemon type is:
 Normal                8.034611
Water                 7.540173
Grass                 4.697157
Psychic               4.326329
Fire                  3.708282
                        ...
Fire / Psychic        0.123609
Normal / Ground       0.123609
Psychic / Fighting    0.123609
Dark / Ghost          0.123609
Fire / Ghost          0.123609
Name: Type, Length: 159, dtype: float64

### Invoking a function on every Series value with the apply method